footer {
  padding: 0 $xxl-size;
  margin-top: $xl-size;
  background: $background-color-01;

  a {
    text-decoration: none;
  }
  li {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    font-weight: 200;
  }
  ul {
    padding: 0;
  }
}
.list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    padding: 0;
    padding-top: 2.5rem;
    flex-direction: column;
    text-align: center;
  }
}

.footer-logo {
  width: 15rem;
  height: 6rem;
  object-fit: contain;
}

.footer-col-1 {
  margin-top: 2rem;
  flex-basis: 25%;

  @include mobile {
    flex-basis: none;
    order: 1;
    text-align: left;
  }
}

.footer-col-2 {
  padding: 3rem 0;
  flex-basis: 25%;
  margin-left: 3rem;

  @include mobile {
    flex-basis: none;
    order: 3;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.footer-col-3 {
  flex-basis: 25%;

  @include mobile {
    flex-basis: none;
    order: 2;
    text-align: left;
  }
}

.footer-col-4 {
  flex-basis: 20%;

  @include mobile {
    flex-basis: none;
    order: 2;
    text-align: left;
  }
}

@include mobile {
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    width: 100%;
    margin: $s-size 0;
  }
}
