footer {
  padding: 0 $xxl-size;
  margin-top: $xl-size;
  background: $background-color-01;

  a {
    text-decoration: none;
  }
  li {
    list-style: none;
    font-size: 1.35rem;
    margin-bottom: 0.2rem;
    font-weight: 200;
  }
  ul {
    padding: 0;
  }
}
.list {
  position: relative;
  display: grid;
  padding-top: 10rem;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding-inline: 10rem;
  gap: 2.5rem;
}

.footer-logo {
  width: 15rem;
  height: 6rem;
  object-fit: contain;
}
.footer-col-1 {
  margin-right: 3rem;
}

@media (max-width: 1000px) {
  .list {
    padding-inline: 10%;
    grid-template-columns: 1fr;
  }
}
