.home {
  width: 100%;
}

.home-featured {
  margin: 5rem;
  margin-top: 10rem;
}

.featured {
  width: 100%;
}

.category-container {
  margin-top: 3rem;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  // justify-content: center;
  // align-items: center;
  gap: 3rem;
  .category-card {
    display: flex;
    justify-content: left;
    align-items: end;
    padding: 8%;
    background-color: $gray-20;
    color: $white;
    aspect-ratio: 16/9;
    font-size: 2rem;
    min-height: 100px;
  }
  @media (max-width: 728px) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

.timer {
  position: relative;
  width: 25rem;
  height: 0.2rem;
  background-color: white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  overflow: hidden;
}
.timer::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(255, 255, 255);
  transition-duration: 5s;
  transition-timing-function: linear;
}
.timer.active {
  background-color: #ffffff83;
}
.timer.active::after {
  width: 100%;
}
video {
  // user-select: none;
  // width: auto;
  // height: 100%;
}
video::-webkit-media-controls-picture-in-picture-button {
  display: none;
}
