.home {
  width: 100%;
}

.home-featured {
  margin: 5rem;
  margin-top: 10rem;
}

.featured {
  width: 100%;
}

.category-container {
  margin-top: 3rem;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  // justify-content: center;
  // align-items: center;
  gap: 3rem;
  .category-card {
    display: flex;
    justify-content: left;
    align-items: end;
    padding: 8%;
    background-color: $gray-20;
    color: $white;
    aspect-ratio: 16/9;
    font-size: 2rem;
    min-height: 100px;
  }
  @media (max-width: 728px) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
