.news-display {
  background-color: #fff;
  border-bottom: solid 1px #eee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.5s ease; // Adjust the duration of the fade (in seconds)
  z-index: 10;
  span {
    color: $black;
  }
}

.fade-in {
  opacity: 1;
  translate: 0;
}

.fade-out {
  opacity: 0;
  translate: 0 -10px;
}
