//
// STATE ---------
//

.is-active-link {
  font-weight: bold;
  color: green;
}

.is-basket-open {
  overflow-y: hidden;
}

.is-selected-payment {
  opacity: 1;
}

.is-basket-open .basket {
  transform: translateX(0);
}

.is-img-loading {
  opacity: 0;
}

.is-img-loaded {
  animation: fadeIn 0.3s ease;
  opacity: 1;
}

.is-open-recent-search .searchbar-recent {
  display: flex;
  flex-direction: column;
}
